.nav-bar{
  display: flex;
}
.nav-bar>div{
  padding: 10px;
}
.child img{
	width: 100%;
	height: auto;
}

.parent{
	background-color: white;
	padding: 10px;
	display: grid;
/*	grid-template-columns: repeat(3, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(200px,auto));
	grid-gap: 4rem;
}
.child{
	/*min-height: 200px;*/
	border: 2px solid black;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}
.child-1{
	grid-row: span 2;
}	
.child-2{

}
.child-3{
	
}
.child-4{

}
.child-5{
	
}

.parent-video{
	background-color: white;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
/*grid-template-columns: repeat(auto-fit, minmax(200px,auto));*/
	grid-gap: 5rem;
}
.video{
	min-height: 100px;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}
.video-1{
}	
.video-2{

}
.video-3{
	
}
.video-4{

}
.video-5{
	
}

.project img{
	width: 100%;
	height: auto;
}
.parent-project{
	background-color: white;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.project{
	/*min-height: 200px;*/
	border: 2px solid black;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}
.project-1{

}	
.project-2{

}
.project-3{
	
}
.project-4{

}
.project-5{
	
}
.project-6{
	
}