.nav-bar{
  display: flex;
}
.nav-bar>div{
  padding: 10px;
}
.something img{
	width: 100%;
	height: auto;
}

/*
.tab{
  background: yellow;
}
.tab.extra{
  background: blue;
}*/
.intro{
	background-color: white;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,auto));
/*	grid-template-columns: 1fr 1fr;
*/
	grid-gap: 4rem;
	}
.something{
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}
.something-1{

}	
.something-2{

}